extends header

block content
    br
    .container
        ul.list-group
            each article, i in articles
                li.list-group-item
                    a(href='/article/weatherArticle/'+article._id)= article.title
                    p= article.pgOne