doctype html
html
    head
        title
    body
        nav.nav.navbar-nav.bg-dark
            .navbar-brand Blog News
        block content
        br
        hr
        footer
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sit magnam veritatis commodi delectus! Nemo ad accusamus, perferendis officiis, nulla quasi reiciendis perspiciatis cupiditate, error voluptas voluptatum repellendus. Culpa, beatae.
