extends header

block content
    br
    .container
        .row
            .col-md-8
                //- ul
                //-     each article, i in articles
                //-         li= article.title
            .col-md-4
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ullam aspernatur commodi, expedita et necessitatibus eligendi, cumque eos quod tempora praesentium qui eum suscipit perferendis sint in! Illo, ea harum?
