extends header

block content
    br
    .container
        h1= article.title
        b
            p wrritten by #{article.author}
        p=  article.pgOne
        p=  article.pgTwo
        p=  article.pgThree
        p=  article.pgFour
        br
        a(href='/article/sportArticle/edit/'+article._id).btn.btn-primary    Edit
        a(href='#', data-id=article._id).btn.btn-danger.deleteSportArticle   Delete
